<section id="pricing1" class="section-padding" >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center" style="margin-top: 30px;margin-bottom: -20px;">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Juicy Chicken Fry</h1>
          </div>
        </div>
      </div>
     </div>
  </section><br>
<br>
    <!-- Event Slides Section Start -->
    <section id="event-slides" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="video">
                <img class="img-fluid" src="assets/img/about/img1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
                <h2 class="intro-title">Juicy Chicken Fry</h2>
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="0.5 stars"></label>
              </fieldset><br><br>
              <div class="col-md-6 form-line">
                <div class="form-group" style="margin-left: -14px;">
                  <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment">
                  
                  
                    <button type="submit" class="btn btn-common" id="form-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
                  
                </div>
                
              </div>
     <!-- Comment Section Start -->
    <section id="faq" class="section-padding" style="margin-top: -50px;">
      
        
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <div class="accordion">
              <div class="card">
               
                <div class="card-header" id="headingOne">
                  <div class="header-title" data-toggle="collapse" style="margin-left: 5px;" data-target="#questionOne" aria-expanded="true" aria-controls="collapseOne">
                     Comments
                  </div>
                </div>
                <div id="questionOne" class="collapse" aria-labelledby="headingOne">
                  <div class="card-body" style="margin-bottom: -30px;">
                    <h5 style="margin-left:-50px;"><b>Karan :</b></h5> Thankyou for this!!
                  </div>
                  <div class="card-body">
                    <h5 style="margin-left:-50px;"><b>Sachin :</b></h5> Nice Recipe
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      
    </section>
    <!-- Comment Section End -->
              
            

    
    

  </div>






              
            
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s"><br>
                <h2 class="intro-title">Ingredients</h2>
                <ul class="list-specification">
                  <li><i class="lni-check-mark-circle"></i> 1 tbsp ginger garlic</li>
                  <li><i class="lni-check-mark-circle"></i> 500 grams chicken</li>
                  <li><i class="lni-check-mark-circle"></i> 1 small sized lemon juice</li>
                  <li><i class="lni-check-mark-circle"></i> 1 tbsp vinegar</li>
                  <li><i class="lni-check-mark-circle"></i> 1 tsp red chilli powder</li>
                  <li><i class="lni-check-mark-circle"></i> 1 tsp cumin powder</li>
                  <li><i class="lni-check-mark-circle"></i> 1/2 tsp pepper powder</li>
                  <li><i class="lni-check-mark-circle"></i>2 tbsp gram flour</li>
                  <li><i class="lni-check-mark-circle"></i> 2 tbsp cornflour</li>
                  <li><i class="lni-check-mark-circle"></i> 1 egg</li>
                </ul>
                <br>
                <h2 class="intro-title">Steps</h2>
        
              <ul class="list-specification" style="margin-right: -200px;;">
                <li><i class="lni-check-mark-circle"></i> Add a tbsp vinegar into the chicken pieces mix well set aside for 5 minutes</li>
                <li><i class="lni-check-mark-circle"></i> Wash thoroughly under running tap water the chicken will appear whitish in colour</li>
                <li><i class="lni-check-mark-circle"></i> Squeeze out all the water pat dry the chicken with tissue apply marination ginger garlic paste</li>
                <li><i class="lni-check-mark-circle"></i> Mix well set aside 10 minutes. Then heat oil in a kadhai once oil is medium hot add few pieces at a time</li>
                <li><i class="lni-check-mark-circle"></i> Cook for 3 to 4 minutes on low to medium flame then only flip the pieces</li>
                <li><i class="lni-check-mark-circle"></i> Continue cooking for more 7 to 8 minutes change sides after every minute</li>
                <li><i class="lni-check-mark-circle"></i> In the end switch flame to medium and cook for a minute then remove and drain on paper towel</li>
                <li><i class="lni-check-mark-circle"></i>Relish with chutney sauces dips salads</li>
              </ul>


            </div>

          </div>
         </div>
      </section>
      <!-- Event Slides Section End -->




<!-- Footer start -->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
        <h3><u>OUR FIRST PROJECT</u> </h3>
        <p>Rating and review system for Cooking Recipe</p>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <h3>My Team: </h3>
        <ul>
          <li><p>Arijit Das</p></li>
          <li><p>Chintalapudi Rajkumar</p></li>
          <li><p>Karan Rawlley</p></li>
          <li><p>Raghwendra Kumar</p></li>
          <li><p>Sachin Bhalla</p></li>
          <li><p>Satvik Singh</p></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
        
      </div>
      
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
        <!-- /.widget -->
        <div class="widget">
          <h5 class="widget-title">FOLLOW US ON</h5>
          <ul class="footer-social">
            <li><a class="facebook"><i class="lni-facebook-filled"></i></a></li>
            <li><a class="twitter"><i class="lni-twitter-filled"></i></a></li>
            <li><a class="linkedin"><i class="lni-linkedin-filled"></i></a></li>
            <li><a class="google-plus"><i class="lni-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
