<header id="header-wrap">
  
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" style="height:900px; width: 1000px;" src="assets/img/slider/bg2.jpg" alt="First slide">
          <div class="carousel-caption d-md-block" style="margin-top: -190px;">
  
               <h2 style="float: right;margin-right:100px;"><u>Register</u></h2><br><br><br>
               <div class="login" style="margin-left: 500px;">    
                <form id="login" method="get" action="login.php">  
                    <label style="float:left;"><b>Email    
                   </b>    
                    </label>
                    <input type="email" name="Email" id="Email" placeholder="Enter your mail here" style="margin-left: 100px;" required>
                    <br><br>   
                  <label style="float:left;"><b>User Name     
                  </b>    
                  </label>    
                  <input type="text" name="Uname" id="Uname" placeholder="Username" style="margin-left: 60px;" required>    
                  <br><br>    
                    

                  <label style="float:left;margin-right: 90px;"><b>Mobile
                  </b>
                  
                  </label>
                  +91<input type="tel" name="Phone" id="Phone" placeholder="Enter mobile number" style="margin-left: 15px;"
                  pattern="[0-9]{10}"  required>

                   
                  <br><br>
                  <label style="float:left; "><b>Password          
                  </b>  
                  </label>  
                  <input type="Password" name="Pass" id="Pass" placeholder="Password" style="margin-left: 70px;" required>    
                  <br><br>    
                  <label style="float:left;"><b>Confirm Password 
                </b>&nbsp; 
                </label>    
                <input type="Password" name="Pass1" id="Pass1" placeholder="Re-enter Password" style="margin-left: px;" required>    
                <br><br>
                <a style="background:none;float: left;margin-left: 120px;" routerLink="/signin">Already a member?  <b>Login Here!</b></a>
                <br>   

                  <button type="submit" class="btn btn-primary btn-block">Register</button>
               </form>     
              </div>    
  
          </div>
        </div>
        
      </div>
      
    </div>
    <!-- Main Carousel Section End -->
  
  </header>
  <!-- Header Area wrapper End -->