<header id="header-wrap">

  <!-- Main Carousel Section Start -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" style="height:900px; width: 1000px;" src="assets/img/slider/bg1.jpg" alt="First slide">
        <div class="carousel-caption d-md-block" style="margin-top: -190px;">

             <h2 style="float: left;"><u>Login Page</u></h2><br><br><br>
             <div class="login" style="float: left;margin-left: -310px;">    
              <form id="login" method="get" action="login.php">    
                <label><b>User Name     
                </b>    
                </label>    
                <input type="text" name="Uname" id="Uname" placeholder="Username" style="margin-left: -38px;">    
                <br><br>    
                <label><b>Password     
                </b>    
                </label>    
                <input type="Password" name="Pass" id="Pass" placeholder="Password" style="margin-left: -38px;">    
                <br><br>    
                <a style="background:none;float: left;margin-left: 30px;" routerLink="/signup">New User?  <b>Register Here!</b></a>
                <button type="submit" class="btn btn-primary btn-block" routerLink="/recipe">Log In</button>
             </form>     
            </div>    

        </div>
      </div>
      
    </div>
    
  </div>
  <!-- Main Carousel Section End -->

</header>
<!-- Header Area wrapper End -->




<!-- Footer start -->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
        <h3><u>OUR FIRST PROJECT</u> </h3>
        <p>Rating and review system for Cooking Recipe</p>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <h3>My Team: </h3>
        <ul>
          <li><p>Arijit Das</p></li>
          <li><p>Chintalapudi Rajkumar</p></li>
          <li><p>Karan Rawlley</p></li>
          <li><p>Raghwendra Kumar</p></li>
          <li><p>Sachin Bhalla</p></li>
          <li><p>Satvik Singh</p></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
        
      </div>
      
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
        <!-- /.widget -->
        <div class="widget">
          <h5 class="widget-title">FOLLOW US ON</h5>
          <ul class="footer-social">
            <li><a class="facebook"><i class="lni-facebook-filled"></i></a></li>
            <li><a class="twitter"><i class="lni-twitter-filled"></i></a></li>
            <li><a class="linkedin"><i class="lni-linkedin-filled"></i></a></li>
            <li><a class="google-plus"><i class="lni-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
