<section id="pricing1" class="section-padding" >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center" style="margin-top: 30px;margin-bottom: -20px;">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">All Recipies</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">checkout your favourite recipe here</p>
          </div>
        </div>
      </div>
     </div>
  </section><br>
<br>
    <!-- Event Slides Section Start -->
    <section id="event-slides" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="video">
                <img routerLink="/detailrecipe" class="img-fluid nav-link" src="assets/img/about/img3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
              <h2 ><a class="intro-title" routerLink="/detailrecipe">Juicy Chicken Fry</a></h2>
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="0.5 stars"></label>
              </fieldset><br><br>
              <ul class="list-specification">
                <li><i class="lni-check-mark-circle"></i> 1 tbsp ginger garlic</li>
                <li><i class="lni-check-mark-circle"></i> 500 grams chicken</li>
                <li><i class="lni-check-mark-circle"></i> 1 small sized lemon juice</li>
              </ul><br>
              <button type="submit" routerLink="/detailrecipe" class="btn btn-common" id="form-submit"><i aria-hidden="true"></i>  Read more..</button>
            </div>

          </div>


          <br><br>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="video">
                <img routerLink="/detailrecipe" class="img-fluid nav-link" src="assets/img/about/img2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
              <h2 ><a class="intro-title" routerLink="/detailrecipe">Juicy Chicken Fry</a></h2>
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="0.5 stars"></label>
              </fieldset><br><br>
              <ul class="list-specification">
                <li><i class="lni-check-mark-circle"></i> 1 tbsp ginger garlic</li>
                <li><i class="lni-check-mark-circle"></i> 500 grams chicken</li>
                <li><i class="lni-check-mark-circle"></i> 1 small sized lemon juice</li>
              </ul><br>
              <button type="submit" routerLink="/detailrecipe" class="btn btn-common" id="form-submit"><i aria-hidden="true"></i>  Read more..</button>
            </div>

          </div>
          

          <br><br>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="video">
                <img routerLink="/detailrecipe" class="img-fluid nav-link" src="assets/img/about/img3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
              <h2 ><a class="intro-title" routerLink="/detailrecipe">Juicy Chicken Fry</a></h2>
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="0.5 stars"></label>
              </fieldset><br><br>
              <ul class="list-specification">
                <li><i class="lni-check-mark-circle"></i> 1 tbsp ginger garlic</li>
                <li><i class="lni-check-mark-circle"></i> 500 grams chicken</li>
                <li><i class="lni-check-mark-circle"></i> 1 small sized lemon juice</li>
              </ul><br>
              <button type="submit" routerLink="/detailrecipe" class="btn btn-common" id="form-submit"><i aria-hidden="true"></i>  Read more..</button>
            </div>

          </div>

          

          <br><br>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="video">
                <img routerLink="/detailrecipe" class="img-fluid nav-link" src="assets/img/about/img2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
              <h2 ><a class="intro-title" routerLink="/detailrecipe">Juicy Chicken Fry</a></h2>
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="0.5 stars"></label>
              </fieldset><br><br>
              <ul class="list-specification">
                <li><i class="lni-check-mark-circle"></i> 1 tbsp ginger garlic</li>
                <li><i class="lni-check-mark-circle"></i> 500 grams chicken</li>
                <li><i class="lni-check-mark-circle"></i> 1 small sized lemon juice</li>
              </ul><br>
              <button type="submit" routerLink="/detailrecipe" class="btn btn-common" id="form-submit"><i aria-hidden="true"></i>  Read more..</button>
            </div>

          </div>


          <br><br>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="video">
                <img routerLink="/detailrecipe" class="img-fluid nav-link" src="assets/img/about/img3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
              <h2 ><a class="intro-title" routerLink="/detailrecipe">Juicy Chicken Fry</a></h2>
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="0.5 stars"></label>
              </fieldset><br><br>
              <ul class="list-specification">
                <li><i class="lni-check-mark-circle"></i> 1 tbsp ginger garlic</li>
                <li><i class="lni-check-mark-circle"></i> 500 grams chicken</li>
                <li><i class="lni-check-mark-circle"></i> 1 small sized lemon juice</li>
              </ul><br>
              <button type="submit" routerLink="/detailrecipe" class="btn btn-common" id="form-submit"><i aria-hidden="true"></i>  Read more..</button>
            </div>

          </div>
        </div>
      </section>
      <!-- Event Slides Section End -->


      
<!-- Footer start -->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
        <h3><u>OUR FIRST PROJECT</u> </h3>
        <p>Rating and review system for Cooking Recipe</p>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <h3>My Team: </h3>
        <ul>
          <li><p>Arijit Das</p></li>
          <li><p>Chintalapudi Rajkumar</p></li>
          <li><p>Karan Rawlley</p></li>
          <li><p>Raghwendra Kumar</p></li>
          <li><p>Sachin Bhalla</p></li>
          <li><p>Satvik Singh</p></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
        
      </div>
      
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
        <!-- /.widget -->
        <div class="widget">
          <h5 class="widget-title">FOLLOW US ON</h5>
          <ul class="footer-social">
            <li><a class="facebook"><i class="lni-facebook-filled"></i></a></li>
            <li><a class="twitter"><i class="lni-twitter-filled"></i></a></li>
            <li><a class="linkedin"><i class="lni-linkedin-filled"></i></a></li>
            <li><a class="google-plus"><i class="lni-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
