  <!-- Main Carousel Section Start -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" style="height:900px; width: 1000px;" src="assets/img/gallery/bg2.jpg" alt="First slide">
        <div class="carousel-caption d-md-block" style="margin-top: -190px;">

              


  <!-- Main Carousel Section End -->


    <!-- Add Recipe Section -->
    <section id="contact-map" class="section-padding" style="margin-top: -50px;">  
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Add Recipe</h1>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-xs-12">
              <div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
                <div class="form-wrapper">
                  <form role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <div class="row">
                        
                        
                        <div class="col-md-6 form-line">
                            <div class="form-group">
                                <h4 style="float:left;color:black;font-size: 100%;"><u>Upload&nbsp;Recipe&nbsp;Image</u></h4>
                                <input type='file' style="color: black;" name='file' ><br>
                            </div>
                          </div>
                          <div class="col-md-6 form-line">
                            <div class="form-group">
                              
                            </div>
                          </div>

                      <div class="col-md-6 form-line">
                        <div class="form-group">
                          <input type="text" class="form-control" id="recipe" name="recipe" placeholder="Recipe Name" required data-error="Please enter recipe name">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6 form-line">
                        <div class="form-group">
                          <input type="text" class="form-control" id="time" name="time" placeholder="Time in hours" required data-error="Please enter time in hours">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" rows="4" id="about" name="about" placeholder="About Recipe" required data-error="Write your message"></textarea>
                        </div>
                        <div class="form-submit">
                          <button type="submit" class="btn btn-common" id="form-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                        </div>
                        
                        
                      </div>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Add recipe Section End -->
  
    </div>
</div>

</div>

</div>

<!-- Footer start -->
<footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
          <h3><u>OUR FIRST PROJECT</u> </h3>
          <p>Rating and review system for Cooking Recipe</p>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
          <h3>My Team: </h3>
          <ul>
            <li><p>Arijit Das</p></li>
            <li><p>Chintalapudi Rajkumar</p></li>
            <li><p>Karan Rawlley</p></li>
            <li><p>Raghwendra Kumar</p></li>
            <li><p>Sachin Bhalla</p></li>
            <li><p>Satvik Singh</p></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
          
        </div>
        
        <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
          <!-- /.widget -->
          <div class="widget">
            <h5 class="widget-title">FOLLOW US ON</h5>
            <ul class="footer-social">
              <li><a class="facebook"><i class="lni-facebook-filled"></i></a></li>
              <li><a class="twitter"><i class="lni-twitter-filled"></i></a></li>
              <li><a class="linkedin"><i class="lni-linkedin-filled"></i></a></li>
              <li><a class="google-plus"><i class="lni-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->
